<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
      <section name="GeneretorConfiguration" type="ExtjsDefinitionGenerator.Configuration.GeneretorConfiguration,  ExtjsDefinitionGenerator" />
  </configSections>
  <GeneretorConfiguration customNamespaces="Gvdasa"/>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>